*{
    margin:0%;
    padding: 0%;

}

.header{
    height: 50px;
    background-color: #38ACEF;
}

.header ul li{
    float: right;
    height: 100px;
    list-style: none;
    margin-top: -32px;
    margin-right: 20px;

}

.header a{
    text-decoration: none;
    color: white;
}

.tabel a{
   text-decoration: none;
   color: #38ACEF;
}
.konten table{
    width: 90%;
    padding: 5px;
    text-align: center;
}

.konten table th{
    background-color: #38ACEF;
    color: white;
}